// @import "./components/component.scss";
// @import "./pages/pages.scss";

$color-primary: #eb662b;

a {
  color: #1e1e1e;
  text-decoration: none;
}

.header__container {
  button {
    display: inline-block;
    border-radius: 0;
    border: none;
    padding: 0;
    height: auto;
    line-height: normal;
    font-size: 28px;
    color: #ffffff;
    background: transparent;
    font-family: inherit, sans-serif;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .headerMobile__right {
    gap: 40px;

    a,
    button {
      height: 30px;
      width: 30px;

      .icon {
        height: 100%;
        width: 100%;
        fill: #fff;
        transition: all 0.3s ease;
      }

      &:hover {
        .icon {
          fill: $color-primary;
        }
      }
    }
  }

  .header__left {
    margin-right: auto;
    margin-left: 20px;
  }

  .header_small_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .desktopNav__item a {
    color: inherit;
  }

  @media only screen and (max-width: 565px) {
    .headerMobile__right {
      gap: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
  }
}

.menu {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    padding: 0;
  }
}

.btn-show-map {
  border: 1px solid $color-primary;
  background-color: #eb652b30;
  color: $color-primary;
  padding: 10px 20px;
  line-height: normal;
  height: auto;

  &:hover {
    border: 1px solid $color-primary;
  }
}

.summaryBtnBox {
  width: 100%;

  background-color: $color-primary;

  // position: absolute;
  // top: 0;
  // left: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
  }

  p {
    font-size: 20px;
    color: #fff;
  }

  .summaryBtn {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    height: auto;
    line-height: normal;

    .iconBox {
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 50%;

      svg {
        height: 25px;
        width: 25px;
        fill: $color-primary;
      }
    }
  }
}

.options-area,
.card-area {
  padding-top: 90px;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.login-booking-area {
  .logo {
    img {
      height: 70px;
    }
  }
}

.btn-information {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $color-primary;
  padding: 0;
  height: auto;
  line-height: normal;
  background-color: transparent;

  .iconBox {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    border-radius: 50%;

    .icon {
      height: 20px;
      width: 20px;
      fill: #fff;
    }
  }
}

.login-btn {
  background-color: $color-primary;
}

.schedule-booking.fw .form-booking {
  padding: 20px 0 0;
}

.select-vehicle-area {
  .tp-banner {
    height: 90px;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
      height: 228px;
    }
    @media only screen and (max-width: 462px) {
      height: 285px;
    }
  }

  .sdl-booking {
    background-color: #fef7f4;
    position: relative;
    padding-bottom: 20px;
  }

  .book-adress {
    position: fixed;
    top: 0;
    left: 0;
  }

  .btn-submit {
    width: auto !important;
    gap: 15px;

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .btn {
      padding: 10px 20px;
      background-color: #fff;
      color: #000000a9;
      border: 1px solid #d7d2bd;
      height: auto;
      line-height: normal;
      min-width: 200px;

      &:focus {
        box-shadow: 0 0 0 transparent;
      }
    }
    .btn-hidemap {
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
}

.close-summarybar {
  height: 30px;
  width: 30px;
  background-color: transparent;
  line-height: normal;
  position: absolute;
  top: 8px;
  right: 8px;

  .icon {
    height: 30px;
    width: 30px;
    fill: $color-primary;
  }
}

.tabs__controls {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .card-area,
  .options-area {
    padding-top: 57px;
  }
}
.book-btn {
  display: none;
}
@media only screen and (max-width: 992px) {
  .book-btn {
    display: block;
  }
  .is-sticky {
    position: fixed;
    top: 57px;
    // left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    padding: 15px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.single-tour-form-wrapper {
  p {
    color: $color-primary;
    margin-bottom: 10px;
  }
  .single-tour-form {
    input {
      padding: 10px;
    }

    .date-time {
      gap: 15px;
    }
  }

  .btns {
    gap: 15px;

    .btn {
      width: 100%;
      flex-shrink: 1;
    }

    .btn-back {
      border: 1px solid transparent;
      background-color: #eb652b1c !important;
      color: $color-primary !important;
    }
  }
}
